@model IEnumerable<CloudProject.Models.Document>

@{
    ViewBag.Title = "Мои документы";
    Session["model"] = Model;
    const int maxNameLength = 30;
}

<h2>Мои документы</h2>

@using (Html.BeginForm("Find", "Documents", FormMethod.Post))
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <p>Поиск файлов: </p>
            <div class="col-md-10">
                @Html.TextBox("text")
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Найти" class="btn btn-default" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <td>
            @Html.ActionLink("Название", "Sort", new {sortBy = "Name", directSort = Session["NameDirectSort"] })
            @(Session["NameDirectSort"] as bool? == true ? "↑" : "↓") 
        </td>
        <td>
            @Html.ActionLink("Дата", "Sort", new { sortBy = "Date", directSort = Session["DateDirectSort"] })
            @(Session["DateDirectSort"] as bool? == true ? "↑" : "↓")
        </td>
        <td>
            @Html.DisplayName("Автор")
        </td>
        <td>
            @Html.DisplayName("Ссылка")
        </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                var name = item.Name.Trim();
                var t = name.Length > maxNameLength ? $"{name.Substring(0, maxNameLength)}..." : name;
                @t
            }
        </td>
        <td>
            @item.Date
        </td>
        <td>
            @item.Author
        </td>
        <td>
            <img src="@Url.Action("Image", "Documents", new {link = item.Link}, null)" width="100" height="100"/>
            @Html.ActionLink("Открыть", "Image", "Documents", new {link = item.Link}, null)
        </td>
    </tr>
}

</table>
